html {
  box-sizing: border-box;
}
* * *,
*::before,
*::after {
  box-sizing: inherit;
}
* * p,
h1,
h2,
h3,
h4,
ul,
img,
div {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 944px;
  margin-left: auto;
  margin-right: auto;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}
.page-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.page-nav a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}
.page-nav a:hover,
.page-nav a:focus {
  color: #f07f2e;
}

.site-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #f07f2e;
  display: flex;
  align-items: center;
  gap: 8px;
}
.page-footer {
  background-color: #0f3f3c;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  text-decoration: none;
}
.start-screen {
  width: 944px;
  height: 480px;
  background-image: url(./img/picture\ 1.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  /* margin-right: 248px;
  margin-left: 248px; */
}
.start-text {
  width: 432px;
  height: 192px;
  background: #0f3f3c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-left: 28px;
}
.kittens-section {
  /* margin-right: 248px;
  margin-left: 248px; */
}
.kittens {
  display: flex;
  gap: 40px;
}
.card {
  border-radius: 16px;
}
.card-list {
  display: flex;
  gap: 16px;
}
